<template name="components_card">
    <div class="col-xs-6 col-md-3 cl_d_col">    
        <div class="panel panel-default cl-panel">    
            <a href="/loan/{{id}}"><div class="cl-panel-header"><div class="panel-heading cl-panel-header" ng-style="{'background-image': 'url({{addhttp website}}/weilend.png)'}"></div></div></a>            
            <div class="panel-body">
                <h4 class="light" style="margin-bottom: 0px;"><a href="/loan/{{id}}">{{operationName}}</a></h4>                        
                <p class="text-muted light" style="margin-bottom: 20px;">by {{toName owner}}</p>
                <div class="progress" style="height: 7px; margin-bottom: 10px; max-width: 400px;">
                	<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;"></div>
                </div>                        
                <ul class="list-inline">
                    <li><span>{{progress}}%</span><br><span class="text-muted light">{{i18n 'dapp.app.phrases.funded'}}</span>
                    </li>
                    <li><span>{{fromWei amount 'ether'}}</span><br><span class="text-muted light">{{i18n 'dapp.app.phrases.pledged'}}</span>
                    </li>
                    <li><span>{{formatTime timelimit_m 'fromnow'}}</span><br><span class="text-muted light">{{i18n 'dapp.app.phrases.daysToGo'}}</span>
                    </li>
                </ul>            
            </div> <!-- /.panel-body -->            
        </div> <!-- /.panel -->        
    </div> <!-- /.col-xs-6 -->
</template>
